<!DOCTYPE html>
{% load static %}
<html background="/css/background.jpg">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>iEatOut</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="{{ STATIC_URL }} C:/Hackathons/DJango/HackDuke/static/framework7.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="{{ STATIC_URL }} C:/Hackathons/DJango/HackDuke/static/main.css">
  </head>
  <body>
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-reveal">
      <div class="content-block">
        <p>About Us</p>
        <p>HackDuke '14 Hack</p>
        <p>Anirudh Gubba, Nikhil Kulkarni, Saurabh Kumar, Shuyang Chen</p>
      </div>
    </div>
    <!-- Right panel with cover effect-->
    <div class="panel panel-right panel-cover">
      <div class="content-block">
        <p>Right panel content goes here</p>
      </div>
    </div>
    <!-- Views-->
    <div class="views">
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="left">
              <a href="#list.html" onclick="back()" class="back">Back</a>
            </div>
            <div class="center sliding">Welcome!</div>
            <div class="right">
              <a href="#" class="link icon-only open-panel" data-panel="left"><i class="icon icon-bars"></i></a>
            </div>
          </div>
        </div>
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
          <!-- Page, data-page contains page name-->
          <div data-page="health" class="page">
            <!-- Scrollable page content-->
            <div class="page-content">

                <div class="content-block-title">General Info</div>
                  <div class="list-block">
                  <ul>
                    <!-- Text inputs -->
                    <li>
                      <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                          <div class="item-title label">Name</div>
                          <div class="item-input">
                            <input id="ieo-profile-name" type="text" placeholder="Your name">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-gender"></i></div>
                        <div class="item-inner">
                          <div class="item-title label">Gender</div>
                          <div class="item-input">
                            <select id="ieo-profile-gender">
                              <option>Male</option>
                              <option>Female</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  </div>
               <div class="content-block-title">Select your allergies</div>
              <div class="list-block">
                <!-- Single chekbox item -->
                <ul>
                  <li>
                    <label class="label-checkbox item-content">
                    <!-- Checked by default -->
                      <input id="ieo-profile-allergies-dairy" type="checkbox" name="allergies" value="Dairy">
                      <div class="item-media">
                        <i class="icon icon-form-checkbox"></i>
                      </div>
                      <div class="item-inner">
                        <div class="item-title">Dairy</div>
                      </div>
                    </label>
                  </li>
                <!-- Another chekbox item -->
              <li>
                <label class="label-checkbox item-content">
                  <input id="ieo-profile-allergies-egg" type="checkbox" name="allergies" value="Egg">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                      <div class="item-title">Egg</div>
                    </div>
                </label>
              </li>
              <li>
                <label class="label-checkbox item-content">
                  <input id="ieo-profile-allergies-gluten" type="checkbox" name="allergies" value="Gluten">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                      <div class="item-title">Gluten</div>
                    </div>
                </label>
              </li>
              <li>
                <label class="label-checkbox item-content">
                  <input id="ieo-profile-allergies-peanuts" type="checkbox" name="allergies" value="Peanuts">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                      <div class="item-title">Peanuts</div>
                    </div>
                </label>
              </li>
              <li>
                <label class="label-checkbox item-content">
                  <input id="ieo-profile-allergies-seafood" type="checkbox" name="allergies" value="Seafood">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                      <div class="item-title">Seafood</div>
                    </div>
                </label>
              </li>
              <li>
                <label class="label-checkbox item-content">
                  <input id="ieo-profile-allergies-sesame" type="checkbox" name="allergies" value="Sesame">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                      <div class="item-title">Sesame</div>
                    </div>
                </label>
              </li>
              <li>
                <label class="label-checkbox item-content">
                  <input id="ieo-profile-allergies-soy" type="checkbox" name="allergies" value="Soy">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                      <div class="item-title">Soy</div>
                    </div>
                </label>
              </li>
              <li>
                <label class="label-checkbox item-content">
                  <input id="ieo-profile-allergies-treenuts" type="checkbox" name="allergies" value="TreeNuts">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                      <div class="item-title">Tree Nuts</div>
                    </div>
                </label>
              </li>
              <li>
                <label class="label-checkbox item-content">
                  <input id="ieo-profile-allergies-wheat" type="checkbox" name="allergies" value="Wheat">
                    <div class="item-media">
                      <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                      <div class="item-title">Wheat</div>
                    </div>
                </label>
              </li>
            </ul>
          </div>
    <div class="content-block-title">Diet Restriction</div>
    <div class="list-block">
      <ul>
      <div class="item-content">
        <div class="item-media"><i class="icon icon-form-name"></i></div>
        <div class="item-inner">
          <div class="item-title label">Type</div>
          <div class="item-input">
            <select id="ieo-profile-diet">
              <option>None</option>
              <option>Lacto Vegeterian</option>
              <option>Ovo Vegetarian</option>
              <option>Pescetarian</option>
              <option>Vegan</option>
              <option>Vegetarian</option>
            </select>
          </div>
        </div>
      </div>
      </ul>
      </div>

      <div class="content-block-title">Questionaire</div>
      <div class="list-block">
      <ul>
      <div class="item-content">
        <div class="item-media"><i class="icon icon-form-settings"></i></div>
        <div class="item-inner">
          <div class="item-title label">Heart Disease?</div>
          <div class="item-input">
            <select id="ieo-profile-heartdisease">
              <option>No</option>
              <option>Yes</option>
            </select>
          </div>
        </div>
      </div>
      <div class="item-content">
        <div class="item-media"><i class="icon icon-form-settings"></i></div>
        <div class="item-inner">
          <div class="item-title label">Alcohol?</div>
          <div class="item-input">
            <select id="ieo-profile-alcoholtobacco">
              <option>No</option>
              <option>Yes</option>
            </select>
          </div>
        </div>
      </div>
      </ul>
      </div>

    <a id="ieo-profile-submit" href="#" onclick="profileSubmit()" class="button button-fill color-green">Submit</a>
  </div>
</div>
   
    <!-- Allergy List -->
    <!-- <li>
      <div class="item-count">
        <div class="item-media"><i class="icon demo-icon-1">
          <div class="item-inner">
            <div class="item-title label">Allergies</div>

          </div>
        </div>
      </div>
    </li> -->
    <!-- Slider (Range input) -->

    </ul>
  </div>
  </div>
</div>
    <!-- jQuery -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- Firebase -->
    <script type="text/javascript" src="js/firebase.js"></script>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <!-- Path to iEatOut js-->
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>